body {
  /* padding: 20px 0; */
  background-color: #f7f7f7;
}

.container {
  position: relative;
  width: 279px;
  height: 209px;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.canvas {
  position: absolute;
  top: 0;
}

.form {
  padding: 20px;
}

/* .payment-info {
  width: 247px;
  height: 91px;
  position: relative;
  margin: 0px auto 32px auto;
}

.close-btn {
  width: 375px;
  height: 32px;
  position: relative;
  margin: 0px auto 16px auto;
}

.card {
  width: 343px;
  height: 66px;
  position: relative;
  margin: 24px auto;
} */

/* .gameplay-container {
  width: 343px;
  height: 340px;
  background-color: #ffffff;
  position: relative;
  margin: 0 auto;
  border-radius: 12px;
} */
/* 
.engagement-title {
  width: 311px;
  height: 43px;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 32px;
}

.utility {
  width: 343px;
  height: 117px;
  position: relative;
  margin: 24px auto;
} */
